*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    /* css e auto margin,padding thake. box sizing border box dile padding boundary ccross korena */
}
/* shared style */
.font-open-sans> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
.logo h2{
    font-size: 45px;
    font-weight: 900;

}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    cursor: pointer; 
    /* eta korle hover korle cursor pointer hoye jabe */
}
.section-heading{
    max-width: 827px;
    text-align: center;
}
.section-heading h3{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 16px;
    font-weight: regular;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
}



/* main style */
header{
    background-color: #FFF8F3;
    background: url("../images/developer.png") ,url("../images/header_bg.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    padding-top: 51px;
    
}
nav{
    width: 71%; 
    /* 1140 % 1600 */
    max-width: 1140px;
    border: 1px solid red;
    margin: 0px auto;
    /* 0=upor nich auto=dan-bam theke soman margin nibe */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* ek row borabor ante */
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    /* underline sorate */
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
#banner{
    border: 1px solid red;
    margin: 56px 38px 0px 226px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-conten{
    max-width: 585px;
}

#banner .banner-content h3{
    font-size:45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size:85px;
    font-weight: bold;
    color: #474747;
    margin-bottom:20px;
    }
#banner .banner-content p{
    font-size: 18px;
    font-weight: regular;
    line-height: 30px;
    color:#757575;
    margin-bottom: 46px;
}

#banner .banner-image img{
    max-width: 584px;
    /* auto gap baadh dite */
    vertical-align: middle;
}
#about{
    padding-top: 185px;
}
#about .about-section{
        width: 71%;
        max-width: 1140px;
        margin: 0 auto ; 
        text-align: center;
        background-color: #FFF8F3;
        padding: 131px 156px;

}
#about .about-section .about-info{
    display: flex;
    justify-content: space-around;
}

.about-section .about-info p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-section .about-info h4{
   font-size: 20px;
}
