*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    /* css e auto margin,padding thake. box sizing border box dile padding boundary ccross korena */
}
/* shared style */
.font-open-sans> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
.logo h2{
    font-size: 45px;
    font-weight: 900;

}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
}

/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 51px;
}
nav{
    width: 71%; 
    /* 1140 % 1600 */
    max-width: 1140px;
    border: 1px solid red;
    margin: 0px auto;
    /* 0=upor nich auto=dan-bam theke soman margin nibe */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* ek row borabor ante */
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    /* underline sorate */
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}