*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    /* css e auto margin,padding thake. box sizing border box dile padding boundary ccross korena */
}
/* shared style */
.font-open-sans> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
.logo h2{
    font-size: 45px;
    font-weight: 900;

}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    cursor: pointer; 
    /* eta korle hover korle cursor pointer hoye jabe */
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h3{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 16px;
    font-weight: regular;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
}



/* main style */
header{
    background-color: #FFF8F3;
    background: url("../images/developer.png") ,url("../images/header_bg.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    padding-top: 51px;
    
}
nav{
    width: 71%; 
    /* 1140 % 1600 */
    max-width: 1140px;
    border: 1px solid red;
    margin: 0px auto;
    /* 0=upor nich auto=dan-bam theke soman margin nibe */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* ek row borabor ante */
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    /* underline sorate */
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
#banner{
    border: 1px solid red;
    margin: 56px 38px 0px 226px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-conten{
    max-width: 585px;
}

#banner .banner-content h3{
    font-size:45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size:85px;
    font-weight: bold;
    color: #474747;
    margin-bottom:20px;
    }
#banner .banner-content p{
    font-size: 18px;
    font-weight: regular;
    line-height: 30px;
    color:#757575;
    margin-bottom: 46px;
}

#banner .banner-image img{
    max-width: 584px;
    /* auto gap baadh dite */
    vertical-align: middle;
}
#about{
    padding-top: 185px;
}
#about .about-section{
        width: 71%;
        max-width: 1140px;
        margin: 0 auto ; 
        text-align: center;
        background-color: #FFF8F3;
        padding: 131px 156px;

}
#about .about-section .about-info{
    display: flex;
    justify-content: space-around;
}

.about-section .about-info p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-section .about-info h4{
   font-size: 20px;
}
#skill{
    padding: 130px;
}
#skill .skill-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto; 
}
#skill .skill-container .skill-box{
    display: flex;
    gap: 27px; 
}
.skill-box .skill-card{
    padding: 30px;
    box-shadow: 0 6px 50px 0 #908e8e ;
    max-width:310px ;
}
.skill-card img{
    max-width: 51px;
    margin-bottom:30px; 
}
.skill-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 14px;
    font-weight: regular;
    line-height:28px ;
    color: #757575;
}
#resume{
    padding: 130px;
}
#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 71px;
}
.resume-container .section-title{
    font-size: 30px;
    color:#474747;
    margin-bottom: 30px;
}
.resume-card {
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color:#757575;
}
.resume-card .card-text{
    font-size: 16px;
    font-weight: regular;
    line-height: 28px;
     color: #757575;
}
.resume-container hr{
    margin: 30px 0;
}
.text-center{
    text-align: center;
}
footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px  0;
}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
    }
.footer-container .social{
    max-width: 542px;
}
.footer-container h3{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom:20px ;
}
.footer-container p{
    font-size: 16px;
    font-weight: regular;
    line-height: 28px;
    color: #474747;
    margin-bottom: 20px;
}
.icons a{
    margin-right: 24px;
}
.footer-container form input[type="text"],.footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}
